# R intro
Huitian Diao
* Reference: 
* Quick-R by DataCamp
* R for Beginners by emmanuel Paradis

## R syntax

### 1. Value assignment and function

In [1]:
my.string <- "Hello, world!"

In [2]:
print(my.string)

[1] "Hello, world!"

* Exercise: make R print your name

In [1]:
my.name <- "Milli"
print(my.name)

[1] "Milli"

### 2. Comments

In [3]:
print("Hello Apple!")

[1] "Hello Apple!"

In [2]:
#print("Hello Banana?")

In [3]:
print ("Hello Cranberry!") #Cranberry is delicious

[1] "Hello Cranberry!"

### 3. Working directory

In [4]:
getwd()

[1] "/home/mkissai/Applied-Bioinformatics-HW-local/Unit1-module2-R"

In [8]:
setwd('/home/mkissai/Applied-Bioinformatics-HW-local/Unit1-module2-R/')
getwd()

[1] "/home/mkissai/Applied-Bioinformatics-HW-local/Unit1-module2-R"

In [9]:
list.files()

[1] "NAV-D14_DEseq2.csv" "NAV-MEM_DEseq2.csv" "ppg2008.csv"
[4] "R-1.pptx"           "R.intro.1.ipynb"    "R.intro.1.pdf"
[7] "R.intro.2.ipynb"

In [10]:
R.Version()

$platform
[1] "x86_64-pc-linux-gnu"

$arch
[1] "x86_64"

$os
[1] "linux-gnu"

$system
[1] "x86_64, linux-gnu"

$status
[1] ""

$major
[1] "3"

$minor
[1] "5.1"

$year
[1] "2018"

$month
[1] "07"

$day
[1] "02"

$`svn rev`
[1] "74947"

$language
[1] "R"

$version.string
[1] "R version 3.5.1 (2018-07-02)"

$nickname
[1] "Feather Spray"

In [1]:
help("print") # And also google...

## Data in R

### 1. Objects: name, content and attribute

In [15]:
my.string <- "foo"
my.number <- 888
my.logic <- TRUE
my.vector <- c(1, 2, 3)

In [16]:
mode(my.string)
mode(my.number)
mode(my.logic)
mode(my.vector)

[1] "character"

[1] "numeric"

[1] "logical"

[1] "numeric"

### 2. Data types

#### 2.1 Vectors: a sequence of data elements of the same basic type. Members in a vector are called components.

In [32]:
my.numbers <- c(1,2,3,4)
my.fruits <- c("Apple","Banana","Cranberry", "Watermelon")
my.logic <- c(TRUE,FALSE,TRUE,FALSE)

In [33]:
mode(my.numbers)
mode(my.fruits)
mode(my.logic)

[1] "numeric"

[1] "character"

[1] "logical"

In [34]:
my.vector <- c(1,2,"a",FALSE)
mode(my.vector) # All the elements are considered to be characters, to keep the consistency of data typein the vector

[1] "character"

In [35]:
my.logic[1] # Retrive one element
my.fruits[c(2,4)] # Retrive multiple element
my_numbers[c(1,2)] # Keep in mind that in R the number of elements start with 1, not 0!!!

[1] TRUE

[1] "Banana"     "Watermelon"

[1] 1 2

In [37]:
new.vector <- c(my.numbers, my.fruits) # Combining vectors
new.vector # Again, all the elements became characters

[1] "1"          "2"          "3"          "4"          "Apple"
[6] "Banana"     "Cranberry"  "Watermelon"

#### 2.2 Matrix: elements arranged in a two-dimensional rectangular layout. Elements in matrix are the same type.

In [39]:
my.matrix <- matrix(1:100, nrow=10, ncol=10) # Simple initialization of a numeric matrix
my.matrix

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  1   11   21   31   41   51   61   71   81    91
 [2,]  2   12   22   32   42   52   62   72   82    92
 [3,]  3   13   23   33   43   53   63   73   83    93
 [4,]  4   14   24   34   44   54   64   74   84    94
 [5,]  5   15   25   35   45   55   65   75   85    95
 [6,]  6   16   26   36   46   56   66   76   86    96
 [7,]  7   17   27   37   47   57   67   77   87    97
 [8,]  8   18   28   38   48   58   68   78   88    98
 [9,]  9   19   29   39   49   59   69   79   89    99
[10,] 10   20   30   40   50   60   70   80   90   100

In [47]:
my.fruits <- c("Apple","Bananna","Cranberry","Durian", "Watermelon", "Pinapple")
row.names <- c("Row1", "Row2", "Row3")
column.names <- c("ColA", "ColB")
# Create a matrix from a vector, and add names for the dimensions
my.fruits.matrix <- matrix(my.fruits, nrow=3, ncol=2, byrow=TRUE, dimnames=list(row.names, column.names)) 
my.fruits.matrix

     ColA       ColB
Row1 Apple      Bananna
Row2 Cranberry  Durian
Row3 Watermelon Pinapple

In [48]:
my.fruits <- c("Apple","Bananna","Cranberry","Durian", "Watermelon", "Pinapple")
row.names <- c("Row1", "Row2", "Row3")
column.names <- c("ColA", "ColB")
# Create a matrix from a vector, and add names for the dimensions
my.fruits.matrix <- matrix(my.fruits, nrow=3, ncol=2, byrow=FALSE, dimnames=list(row.names, column.names)) 
my.fruits.matrix

     ColA      ColB
Row1 Apple     Durian
Row2 Bananna   Watermelon
Row3 Cranberry Pinapple

#### 2.3 Array: like matrices but can store more than 2 dimensions.

In [56]:
vector.1 <- seq(0,63,by=1) # Create a vector(list) of numbers from 0 to 63.
column.names <- c("ColA","ColB","ColC", "ColD") # A vector for the column names
row.names <- c("Row1","Row2","Row3", "Row4") # A vector for row names
matrix.names <- c("theMatrix","theMatrixReloaded","theMatrixRevolutions", "theMatrixMilli") # A vector for matrix names (third dimension)
# Create an array from vector
array.1 <- array(vector.1, dim=c(4,4,4), dimnames=list(row.names,column.names,matrix.names))
print(array.1)

, , theMatrix

     ColA ColB ColC ColD
Row1    0    4    8   12
Row2    1    5    9   13
Row3    2    6   10   14
Row4    3    7   11   15

, , theMatrixReloaded

     ColA ColB ColC ColD
Row1   16   20   24   28
Row2   17   21   25   29
Row3   18   22   26   30
Row4   19   23   27   31

, , theMatrixRevolutions

     ColA ColB ColC ColD
Row1   32   36   40   44
Row2   33   37   41   45
Row3   34   38   42   46
Row4   35   39   43   47

, , theMatrixMilli

     ColA ColB ColC ColD
Row1   48   52   56   60
Row2   49   53   57   61
Row3   50   54   58   62
Row4   51   55   59   63

In [51]:
help(array)

#### 2.4 Data Frames: like matrices, but different columns can have different modes.

In [58]:
fruits.type <- c("Apple","Bananna","Cranberry","Durian", "Watermellon", "Pineapple")
fruits.numbers <- c(10,20,100,4,500,80)
fruits.price <- c(5,10,15,20,5,8)
fruits.smell <- c(FALSE, FALSE, FALSE, TRUE, TRUE, FALSE)
# Create a data frame from vectors
df.fruits <- data.frame(fruits.type, fruits.numbers, fruits.price, fruits.smell)
df.fruits

  fruits.type fruits.numbers fruits.price fruits.smell
1 Apple        10             5           FALSE
2 Bananna      20            10           FALSE
3 Cranberry   100            15           FALSE
4 Durian        4            20            TRUE
5 Watermellon 500             5            TRUE
6 Pineapple    80             8           FALSE

In [59]:
names(df.fruits) <- c("Type","Number","Price","Smell") # Rename columns
df.fruits

  Type        Number Price Smell
1 Apple        10     5    FALSE
2 Bananna      20    10    FALSE
3 Cranberry   100    15    FALSE
4 Durian        4    20     TRUE
5 Watermellon 500     5     TRUE
6 Pineapple    80     8    FALSE

In [61]:
row.names(df.fruits) <- c("row1", "row2", "row3", "row4", "row5", "row6") # Rename rows
df.fruits

     Type        Number Price Smell
row1 Apple        10     5    FALSE
row2 Bananna      20    10    FALSE
row3 Cranberry   100    15    FALSE
row4 Durian        4    20     TRUE
row5 Watermellon 500     5     TRUE
row6 Pineapple    80     8    FALSE

In [62]:
df.fruits[c("Type","Price")] # Extract columns with IDs "Type" and "Price"

     Type        Price
row1 Apple        5
row2 Bananna     10
row3 Cranberry   15
row4 Durian      20
row5 Watermellon  5
row6 Pineapple    8

In [63]:
df.fruits[1:2] # Extract columns 1-2 of data frame

     Type        Number
row1 Apple        10
row2 Bananna      20
row3 Cranberry   100
row4 Durian        4
row5 Watermellon 500
row6 Pineapple    80

In [64]:
df.fruits$Type # Extract "Type" from data frame

[1] Apple       Bananna     Cranberry   Durian      Watermellon Pineapple
Levels: Apple Bananna Cranberry Durian Pineapple Watermellon

*Objective 4*

Create a dataframe for experiment animals to record their information. 
Name the dataframe's columns. 
Make gender of animals a nominal variable and summarize the gender.
Check the structure of your dataframe and the type of elements in your dataframe
#Animal info:
#Names: Fluf1, Fluf2, Fluf3, Fluf4, Fluf5, Fluf6, Fluf7, Fluf8
#Number: 7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110
#Weight: 19, 18, 23, 22, 17, 18, 21, 20 
#Treated: TRUE, TRUE, FALSE, FALSE, TRUE, FALSE, TRUE, FALSE
#Gender: Female, Female, Male, Male, Female, Female, Male, Male

In [66]:
my.animalnames <- c("Fluf1", "Fluf2", "Fluf3", "Fluf4", "Fluf5", "Fluf6", "Fluf7", "Fluf8")
my.animalnumber <- c(7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110)
my.animalweight <- c(19, 18, 23, 22, 17, 18, 21, 20)
my.animaltreated <- c(TRUE, TRUE, FALSE, FALSE, TRUE, FALSE, TRUE, FALSE)
my.animalgender <- c("Female", "Female", "Male", "Male", "Female", "Female", "Male", "Male")
df.animalexp <- data.frame(my.animalnames, my.animalnumber, my.animalweight, my.animaltreated, my.animalgender)
df.animalexp

  my.animalnames my.animalnumber my.animalweight my.animaltreated
1 Fluf1          7103            19               TRUE
2 Fluf2          7104            18               TRUE
3 Fluf3          7105            23              FALSE
4 Fluf4          7106            22              FALSE
5 Fluf5          7107            17               TRUE
6 Fluf6          7108            18              FALSE
7 Fluf7          7109            21               TRUE
8 Fluf8          7110            20              FALSE
  my.animalgender
1 Female
2 Female
3 Male
4 Male
5 Female
6 Female
7 Male
8 Male

In [67]:
animalgender <- factor(my.animalgender)
summary(animalgender)

Female   Male
     4      4

In [68]:
str(df.animalexp)

'data.frame':	8 obs. of  5 variables:
 $ my.animalnames  : Factor w/ 8 levels "Fluf1","Fluf2",..: 1 2 3 4 5 6 7 8
 $ my.animalnumber : num  7103 7104 7105 7106 7107 ...
 $ my.animalweight : num  19 18 23 22 17 18 21 20
 $ my.animaltreated: logi  TRUE TRUE FALSE FALSE TRUE FALSE ...
 $ my.animalgender : Factor w/ 2 levels "Female","Male": 1 1 2 2 1 1 2 2

In [26]:
df.emp <- data.frame(matrix(ncol = 10, nrow = 5)) # Initializing an empty dataframe with matrix
df.emp

  X1 X2 X3 X4 X5 X6 X7 X8 X9 X10
1 NA NA NA NA NA NA NA NA NA NA
2 NA NA NA NA NA NA NA NA NA NA
3 NA NA NA NA NA NA NA NA NA NA
4 NA NA NA NA NA NA NA NA NA NA
5 NA NA NA NA NA NA NA NA NA NA

#### 2.5 List: an ordered collection of objects. A list allows you to gather a variety of objects.

In [27]:
nutella.favorite <- c("chocolate", "peanut", "cheese")
nutella.matrix <- matrix(1:20, nrow=5, ncol=4)
# Create list with different types of data
nutella.info <- list(my.name="Nutella", my.species="Mus.Musculus", my.age=0.2, my.color="Brown", 
                my.favorite=nutella.favorite, my.matrix=nutella.matrix)
nutella.info

$my.name
[1] "Nutella"

$my.species
[1] "Mus.Musculus"

$my.age
[1] 0.2

$my.color
[1] "Brown"

$my.favorite
[1] "chocolate" "peanut"    "cheese"

$my.matrix
     [,1] [,2] [,3] [,4]
[1,]    1    6   11   16
[2,]    2    7   12   17
[3,]    3    8   13   18
[4,]    4    9   14   19
[5,]    5   10   15   20

#### 2.6 Factors: a nominal variable

In [28]:
gender <- c(rep("male",20), rep("female", 30)) 
summary(gender)

   Length     Class      Mode
       50 character character

In [29]:
gender <- factor(gender) # Convert the vector's data type to factor, and then summary()
summary(gender)

female   male
    30     20

#### 2.7 Data type conversion

In [30]:
my.numbers <- c("1","2","3","4")
class(my.numbers)
my.numbers <- as.numeric(my.numbers)
class(my.numbers)

[1] "character"

[1] "numeric"

In [31]:
my.logic <- c(TRUE, TRUE, FALSE)
class(my.logic)
my.logic <- as.character(my.logic)
class(my.logic)

[1] "logical"

[1] "character"

### 3. Basic functions for objects

In [32]:
class(nutella.info) # Type of object

[1] "list"

In [33]:
names(nutella.info) # Names

[1] "my.name"     "my.species"  "my.age"      "my.color"    "my.favorite"
[6] "my.matrix"

In [34]:
str(nutella.info) # Structure of an object

List of 6
 $ my.name    : chr "Nutella"
 $ my.species : chr "Mus.Musculus"
 $ my.age     : num 0.2
 $ my.color   : chr "Brown"
 $ my.favorite: chr [1:3] "chocolate" "peanut" "cheese"
 $ my.matrix  : int [1:5, 1:4] 1 2 3 4 5 6 7 8 9 10 ...

In [35]:
length(nutella.info) # Number of elements

[1] 6

In [36]:
ls() # List current objects

 [1] "array.1"          "column.names"     "df.emp"           "df.fruits"
 [5] "fruits.numbers"   "fruits.price"     "fruits.smell"     "fruits.type"
 [9] "gender"           "matrix.names"     "my.fruits"        "my.fruits.matrix"
[13] "my.logic"         "my.matrix"        "my.number"        "my.numbers"
[17] "my.string"        "my.vector"        "new.vector"       "nutella.favorite"
[21] "nutella.info"     "nutella.matrix"   "row.names"        "vector.1"

In [37]:
rm(nutella.info) # Delete a object
ls()

 [1] "array.1"          "column.names"     "df.emp"           "df.fruits"
 [5] "fruits.numbers"   "fruits.price"     "fruits.smell"     "fruits.type"
 [9] "gender"           "matrix.names"     "my.fruits"        "my.fruits.matrix"
[13] "my.logic"         "my.matrix"        "my.number"        "my.numbers"
[17] "my.string"        "my.vector"        "new.vector"       "nutella.favorite"
[21] "nutella.matrix"   "row.names"        "vector.1"

## Basic data operations

### 1. Operators

#### 1.1 Arithemetic operators

In [38]:
x <- 2
y <- 3
x+y
x-y
x*y
x/y
x**y # exponentiation
x%%y # modulus
x%/%y # integer division

[1] 5

[1] -1

[1] 6

[1] 0.6666667

[1] 8

[1] 2

[1] 0

#### 1.2 Logical operators

In [39]:
x <- 5
y <- 11
x < y
x > y
x <= y
x >= y
x == y
x != y

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

[1] FALSE

[1] TRUE

In [40]:
like.chocolate <- TRUE
like.spam <- FALSE
!like.chocolate
like.chocolate | like.spam
like.chocolate & like.spam
isTRUE(like.spam)

[1] FALSE

[1] TRUE

[1] FALSE

[1] FALSE

#### 1.3 Built-in functions

In [41]:
x <- -16
y <- 1.239
z <- -2.251
abs(x)
sqrt(-x)
ceiling(y)
floor(z)
trunc(z)
round(y, digits=2)
signif(y, digits=2)
cos(x)
sin(x)
tan(x)
log(y)
log10(y)
exp(x)

[1] 16

[1] 4

[1] 2

[1] -3

[1] -2

[1] 1.24

[1] 1.2

[1] -0.9576595

[1] 0.2879033

[1] -0.3006322

[1] 0.2143046

[1] 0.09307131

[1] 1.125352e-07

In [42]:
my.name <- "Nutella"
my.fav <- c("chocolate", "peanut", "cheese")
my.motto <- "I love chocolate. --Nutella"

In [43]:
substr(my.name, start=1, stop=5) # Extract part of the string

[1] "Nutel"

In [46]:
grep("cheese", my.fav) # Search for pattern (It is different from Bash Grep!!!!!!)

[1] 3

In [47]:
sub( "chocolate","cheese", my.motto) # Replace pattern

[1] "I love cheese. --Nutella"

In [48]:
strsplit(my.motto, " ") # Split elements

[[1]]
[1] "I"          "love"       "chocolate." "--Nutella"

In [49]:
paste(1:3, my.fav, sep=": ") # Concatenate strings

[1] "1: chocolate" "2: peanut"    "3: cheese"

In [50]:
toupper(my.motto)

[1] "I LOVE CHOCOLATE. --NUTELLA"

In [51]:
tolower(my.motto)

[1] "i love chocolate. --nutella"

### 2. Control structures

#### 2.1 if-else

In [52]:
like.peanut <- TRUE
if (like.peanut){
    print("I like peanuts!")
} else {
    print("What do I like?")
}

[1] "I like peanuts!"

In [56]:
like.hay <- FALSE
like.cotton <- TRUE
if (like.hay){
    print("I like to build my nest with hay!")
} else if (like.cotton){
    print("I like to build my nest with cotton!")
} else {
    print("Ummm.... what should I use...?")
}

[1] "I like to build my nest with cotton!"

#### 2.2 for

In [18]:
for (i in c(1:10)) {
    print("More chocolate please!")
}

[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"

In [61]:
my.fav <- c("chocolate", "peanut", "cheese")
for (i in my.fav) {
    out.put <- paste("More", i, "please!") # Paste 3 elements into a single string
    print(out.put)
}

[1] "More chocolate please!"
[1] "More peanut please!"
[1] "More cheese please!"

#### 2.3 while

In [62]:
i <- 0
while (i < 10) {
    print("More chocolate please!")
    i <- i+1 # Super important! Or your while loop will never end...
}

[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"

## Homework

## 1. Hello world everyday!
### 1.1 Make a vector containing days of the week, from Monday to Sunday.
### 1.2 Use a for loop to pring "Hello world XXXday!" for each day of the week.

## 2. The Pie
### 2.1 In the first 100 digits of pie, count how many numbers are even. 
### 2.2 Convert the first 200 digits of pie into a 20x10 matrix

## 3. Install Swirl,  do "R programming" and "Data analysis"
https://swirlstats.com/students.html Do it as you like!